/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

@media (min-width: 20em) {

	body {
		
	}
}

@media (min-width: 48em) {

}

@media (min-width: 90em) {
	
}

body {
	background-color: #252422;
	margin: 0 auto;
	/* padding: 1rem;
	max-width: 90em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-family: "Yantramanav", sans-serif;
	

}

p {
	
	font-family: "Heebo", sans-serif;

}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	color: #fffcf2;
	font-family: "Yantramanav" sans-serif;
}

a:visited {
	color: #ccc5b9;
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

header {
	background-color: #eb5e28;
	padding: .25rem 1rem;
}

/* Main
--------------------------------------------- */

.site-wrapper {

	
	/* background-color: #fffcf2; */
	/* padding: 1rem; */

}

.intro {
	
	padding: 1.5rem 0rem;

}

.intro h1 {
	color: #fffcf2;
	text-align: center;
}

.intro p {
	color: #ccc5b9;
	padding: 0rem 1rem;
	line-height: 1.3rem;
}

.about-me {
	color: #fffcf2;
}

.about-me h2 {
	text-align: center;
	color: #eb5e28;
}

.headshot img {

	border: 8px solid #ccc5b9;
	border-radius: 50%;
	width: 50%;

}

.headshot {

}

img {
	display: block;
	margin: 0 auto;
	max-width: 40%;
}
/* Footer
--------------------------------------------- */


/* color palletes */
	
	/* pallete one */

		/* #fffcf2 */
		/* #ccc5b9 */
		/* #eb5e28 */
		/* #252422 */

	/* ----------- */