/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

	html {

		scroll-behavior: smooth;
		scroll-padding: 4.9375rem;
		overflow-x: hidden;

	}

	body {
		background-color: #252422;
		margin: 0 auto;
		overflow-x: hidden;
	}

	main {

		margin-top: 6.25rem;

	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		
		font-family: "Yantramanav", sans-serif;
		color: #ff7843;
		margin-top: 2rem;
	}
	
	p {
		
		font-family: "Heebo", sans-serif;
		color: #ccc5b9;
		font-weight: 500;
		line-height: 1.4rem;

	}

	section h2 {

		position: sticky;
		top: 4.875rem;
		background-color: #403D39;
		left: 0;
		right: 0;
		text-align: center;
		padding: 1rem 0;
		margin-bottom: 2.5rem;
		z-index: 1;

	}

	section p {

		max-width: 62.5rem;
		margin: 0 auto;
		padding: 1.25rem;
	}
	
	a {

		padding: .3125rem;

	}

	a,
	a:visited,
	a:focus {

		color: #252422;
		font-family: "Yantramanav",sans-serif;
		font-weight: 700;
		font-size: 1.125rem;
		text-decoration: none;
	}
	
	a:hover,
	a:active {
		
		background-color: #403D39;
		border: 2px solid #403D39;
		border-radius: .375rem;
		color: #FFFCF2;
		
		
	}

	.site-wrapper {

		overflow-x: hidden;

	}
	
	.site-header {

		background-color: #CCC5B9;
		position: fixed;
		padding: .75rem 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		
	}
	
	.site-nav ul {
		
		list-style-type: none;
		text-align: center;
		padding-left: 0;
		
	}
	
	.site-nav ul li {
		
		display: inline-block;
		margin: 0 auto;
		
	}
	
	.intro {
		
		justify-items: center;
		text-align: center; 
		margin: 4rem auto 5rem;

	}

	.intro p {
		
		color: #fffcf2;

	}

	.intro img {

		margin-top: 1rem;
		max-width: 192px;
		border-radius: 50%;
		border: 4px solid #eb5e28ad;

	}
	
	.headshot {
		
		display: flex;
		justify-content: center;
		

	}
	
	.about-me {


	}

	.about-me a {

		text-decoration: underline;
		color: #fffcf2;
		
	}

	.projects {
		
	}

	
	.html-dropdown,
	.java-dropdown,
	.design-dropdown {

		display: flex;
		justify-content: center;
		border-bottom: 1px solid #ff7843;
		padding: 3rem;
		max-width: 40rem;
		margin: 0 auto;

	}

	.projects ul {

		
    	background-color: #252422;
    	color: #ff7843;

	}

	.projects a {

		color: #ccc5b9;

	}

	.projects i {

		color: #ff7843;
		align-content: center;



	}

	.contact {
		
	}

	.contact-fieldset fieldset {

		margin: 4rem 1rem;
		border: none;
		background-color: #403D39;

	}

	.contact-fieldset label {

		display: block;
		margin: 1rem auto;
		color: #fffcf2;
		font-family: "Yantramanav", Arial, Helvetica, sans-serif;

	}

	.contact-fieldset input,
	.contact-fieldset textarea {

		margin-bottom: 1.25rem;
		resize: none;
		background-color: #252422;
		color: #fffcf2;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		width: 100%;
		height: 1.875rem;
		

	}

	.contact-fieldset textarea {

		height: 10rem;

	}

	.submit {

		text-align: center;

	}

	.btn-submit {

		background-color: #252422;
        color: #FFFCF2;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		font-weight: 700;
		text-transform: uppercase;

	}

	.back-to-top i {

		display: block;
		padding: 1rem;
		text-align: center;
		font-size: 2rem;
		color: #CCC5B9;

	}

	footer {

		background-color: #ccc5b9;
		color: #252422;
        text-align: center;
        

	}

	footer p,
	footer address {

		color: #000000;

	}


	
@media (min-width: 48em) {
		
	body {

		background-color: #252422;
		margin: 0 auto;
		overflow-x: hidden;
	}

	main {

		margin-top: 8rem;
		
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		
		font-family: "Yantramanav", sans-serif;
		color: #ff7843;
		margin-top: 2rem;
	}
	
	p {
		
		font-family: "Heebo", sans-serif;
		color: #ccc5b9;
		font-weight: 500;
		line-height: 1.4rem;
		padding: 1rem;
		
	}

	section h2 {

		position: sticky;
		top: 4.875rem;
		background-color: #403D39;
		left: 0;
		right: 0;
		text-align: center;
		padding: 1rem 0;
		margin-bottom: 2.5rem;
		z-index: 1;

	}

	section p {

		padding: 0 5rem;

	}
	
	a {

		padding: .3125rem;

	}

	a,
	a:visited,
	a:focus {

		color: #252422;
		font-family: "Yantramanav",sans-serif;
		font-weight: 700;
		font-size: 1.125rem;
		text-decoration: none;
	}
	
	a:hover,
	a:active {
		
		background-color: #403D39;
		border: 2px solid #403D39;
		border-radius: .375rem;
		color: #FFFCF2;
		
		
	}
	
	.site-header {

		background-color: #CCC5B9;
		position: fixed;
		padding: .75rem 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		
	}
	
	.site-nav ul {
		
		list-style-type: none;
		text-align: center;
		padding-left: 0;
		
	}
	
	.site-nav ul li {
		
		display: inline-block;
		margin: 0 auto;
		
	}
	
	.intro {
		
		justify-items: center;
		text-align: center; 
		margin: 4rem auto 5rem;

	}

	.intro p {
		
		color: #fffcf2;

	}

	.intro img {

		margin-top: 1rem;
		max-width: 25%;
		border-radius: 50%;
		border: 4px solid #eb5e28ad;

	}
	
	.headshot {
		
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;
	}
	
	.about-me p {

	margin: 5rem auto;

	}

	.about-me a {

		text-decoration: underline;
		color: #fffcf2;
		
	}
	
	.projects p {
		
		margin: 5rem 0 0;
		
	}

	.html-dropdown,
	.java-dropdown,
	.design-dropdown {

		padding: 1rem 8rem;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ff7843;
		

	}

	.projects ul {

		
    	background-color: #252422;
    	color: #ff7843;

	}

	.projects a {

		color: #ccc5b9;

	}

	.projects i {

		color: #ff7843;
		align-content: center;

	}

	.contact {

		margin: 5rem 0;

	}

	.contact-fieldset fieldset {

		border: none;
		background-color: #403D39;
		max-width: 30rem;
		margin: 4rem auto;

	}

	.contact-fieldset label {

		display: block;
		margin: 1rem auto;
		color: #fffcf2;
		font-family: "Yantramanav", Arial, Helvetica, sans-serif;

	}

	.contact-fieldset input,
	.contact-fieldset textarea {

		margin-bottom: 1.25rem;
		resize: none;
		background-color: #252422;
		color: #fffcf2;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		width: 100%;
		height: 1.875rem;
		

	}

	.contact-fieldset textarea {

		height: 10rem;

	}

	.submit {

		text-align: center;

	}

	.btn-submit {

		background-color: #252422;
        color: #FFFCF2;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		font-weight: 700;
		text-transform: uppercase;

	}



	footer {

		background-color: #ccc5b9;
		color: #252422;
        text-align: center;
    

	}

	footer p,
	footer address {

		color: #000000;

	}


}
	
@media (min-width: 64em) {

	.main {

		display: grid; /*used mdn for grid*/
		max-width: 62.5rem;
		margin: 0 auto;
		grid-template-columns: 50% 50%;
	

	}

	.intro h1 {

		

	}

	.intro p {



	}

	.intro img {

        max-width: 12.5rem;

	}

	.about-me h2 {

		display: none;

	}

	.projects ul {

		
    	background-color: #252422;
    	color: #ff7843;

	}

	.projects a {

		color: #ccc5b9;

	}

	.projects i {

		color: #ff7843;
		align-content: center;
		
	}

	.projects p {

		margin: 0 auto;

	}

	.contact p {


		
	}

	.contact-fieldset fieldset {

		margin: 5rem auto;
		border: none;
		background-color: #403D39;

	}

	.contact-fieldset label {

		display: block;
		margin: 1rem auto;
		color: #fffcf2;
		font-family: "Yantramanav", Arial, Helvetica, sans-serif;

	}

	.contact-fieldset input,
	.contact-fieldset textarea {

		margin-bottom: 1.25rem;
		resize: none;
		background-color: #252422;
		color: #fffcf2;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		width: 100%;
		height: 1.875rem;
		

	}

	.contact-fieldset textarea {

		height: 10rem;

	}

	.submit {

		text-align: center;

	}

	.btn-submit {

		background-color: #252422;
        color: #FFFCF2;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
		font-family: "Heebo", Arial, Helvetica, sans-serif;
		font-weight: 700;
		text-transform: uppercase;

	}

	.back-to-top {

		display: none;
		
	}

	footer {

		background-color: #ccc5b9;
		color: #252422;
        text-align: center;

	}

	footer p,
	footer address {

		color: #000000;

	}
		
}
	
	
	/* color palletes */
	
		/* pallete one */

			/* #fffcf2 */
			/* #ccc5b9 */
			/* #eb5e28 */
			/* #252422 */

	/* ----------- */